html
  head
    title='This is serviveTwo'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 This is service two that running on docker
        p Click the button below
        p 
          a.btn.btn-primary(href="https://youtube.com") Youtube
        p
